<div class="container">
	<h1 class="text-center"><%= @recipe.name %></h1>
	<div class="row">
		<div class="col-md-8">
			<h3><%= @recipe.summary %></h3>
			<div class="well">
				<% if current_user == @recipe.user %>
					<%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: 'btn btn-success btn-lg pull-right' %>
				<% end %>
				<%= image_tag(@recipe.picture.url, size: "500") if @recipe.picture? %>
				<p>Steps:</p>
				<%= simple_format @recipe.description %>
			</div>
		</div>
		<div class="col-md-4">
			<%= gravatar_for @recipe.user, size: 250 %>
			<p><strong>Recipe by: <%= @recipe.user.chefname %> about <%= time_ago_in_words(@recipe.updated_at) %> ago</strong></p>
		</div>
		
	</div>
</div>